.contact-body {
    display: flex;
    flex-direction: column;
    gap: 4rem
}


.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

