.contact-body {
    border: black solid 1px;
}


.contact-title {
    border: red solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

