.header {
  position: sticky;
  top: 0;
  background: var(--color-primary);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--color-border-light);
  padding: 1rem 1.5rem;
  margin-bottom: 0.5%;
}

.header-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-wrap {
  display: flex;
  align-items: center;
  border: none;
}

.header-logo {
  border: none;
  width: 3rem;
}

.brand-icon {
  font-size: 40px;
  color: var(--color-primary);
}

.brand-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-primary);
}

.header-button {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);

  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.2s ease;
  /*box-shadow: 0 10px 30px rgba(15, 23, 42, 0.2);*/
}

.header-button:hover {
  opacity: 0.9;
}

.header-button:hover {
  opacity: 0.9;
}

/* Mobile */
@media (max-width: 576px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99vw;
    height: auto;
    padding: 0;
  }
  .header-logo-wrap {
    border: none;
    aspect-ratio: 19.5/9;
    justify-content: center;
  }
  .header-logo {
    width: 98vw;
  }
  .accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordion button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 1rem;
    width: 3rem;
    height: 2rem;
    border: 3px solid var(--color-border-light);
  }
  .accordion-button {
    border: 0.3rem;
  }
}

/* Tablet */
@media (max-width: 992px) {
}
