.footer {
  background: var(--color-primary);
  color: var(--basic-text-color);
  padding: 2rem 1.5rem 2.5rem;
  font-family: sans-serif;
  position: relative;
  bottom: 0;
  width: 100vw;
  border-top: solid 1px rgba(0, 0, 0, 0.199);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .footer-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }
}
