* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background: var(--color-background-dark-alpha);
  padding-top: var(--header-height);
}
