
:root {
  --color-primary: #0f172a;
  --color-accent: #d9c09b;

  --color-background-light: rgba(255, 255, 255, 0.9);
  --color-border-light: rgba(217, 192, 155, 0.2);

  --color-white: #ffffff;

  --font-base: 'Inter', sans-serif;
}
