.header {
  position: sticky;
  top: 0;
  z-index: 50;

  background: var(--color-background-light);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid var(--color-border-light);
  padding: 16px 24px;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-wrap {
  display: flex;
  align-items: center;
  border: none;
  width: 15rem;
}

.header-logo {
  border: none;
  width: 15rem;
}

.brand-icon {
  font-size: 40px;
  color: var(--color-primary);
}

.brand-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-primary);
}

.header-nav {
  display: none;
  gap: 40px;
}

.header-nav a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: var(--color-accent);
}

.header-button {
  display: inline-block; 
  background: var(--color-primary);
  color: var(--color-white);
  
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none; 
  
  cursor: pointer;
  transition: all 0.2s ease;
  /*box-shadow: 0 10px 30px rgba(15, 23, 42, 0.2);*/
}

.header-button:hover {
  opacity: 0.9;
}


.header-button:hover {
  opacity: 0.9;
}

/* Responsivo */
@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}
